<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gerenciador de Pedidos</title>
</head>
<body>
    <div>
        <h1>Bem vindo! @ViewBag.operador.NOME</h1>
    </div>
</body>
</html>
